* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.bold {
  font-weight: bold;
}
html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
body {
  width: 100%;
  min-height: 100vh;
  background: rgb(198, 166, 240);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header,
main,
footer {
  width: 100%;
  max-width: 500px;
}
header {
  border-bottom: 8px solid #000;
  background-color: rgb(26, 94, 24);
}
h1 {
  font-size: 1.5rem;
  padding: 0.5em 0;
  color: #000;
  background-color: rgb(26, 94, 24);
}
section {
  padding-bottom: 1.5rem;
  padding: 0.5rem 0;
  height:80%;
  overflow:auto;
}
footer {
  border-top: 9px solid #000;
  padding-right: 0.5rem;
}
footer > p {
  text-align: right;
  font-size: 1rem;
  margin: 1rem 0;
}
